*{
    box-sizing: border-box;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}

body{
    background:white;
}
@font-face{
    font-family: cafe1;
    src: url(Portafolio\fuentes\Cafe.ttf);
}

.responsive{
    width: 100%;
    height: auto;
}

h1{
    color: #1E1E1E;
    text-align: center;
    font-family: cafe1;   
}

h2{
    font-family: sans-serif;
    color: #1E1E1E;
}
.h3{
    text-align: center;
    margin: 10px;
}
.inicio{
    margin: auto;
    height: 120%;
    z-index: 0;  
}
.parallax {
    background-image: url("https://image.freepik.com/foto-gratis/fondo-papel-acuarela-blanco_88281-3969.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.logo{
    z-index: 1;
    margin: 6%;
    margin-bottom: 6%;
    width: 100%;
    height: auto;
}

.gif{
    z-index: 1;
    width: 100%;
    height: auto;
}

.menu{
    z-index: 1;
    padding: 9px;
    height: 8%;
    width: 80%;
    margin-bottom: -2%;
    border-radius: 10px;
    background-color: #1E1E1E;
}

.botones1{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 70%;
    z-index: 1;
    border-color: white;
    background-color: #D94C6A;
}

.br{
    width: 100%;
    background-color: #1E1E1E;
}
.botones2{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 70%;
    z-index: 1;
    border-color: white;
    background-color: #874E96;
}

.botones1:hover{
    filter: saturate(180%);
}
.botones2:hover{
    filter: saturate(180%);
}

.manu1{
    color: white;
}

.mipersona{
    height: 110%;
    background-color: #E1E1E1;
}

.mipersona2{
    display: flex;
    height: 50%;
}

.adelante{
    animation-delay: 1s;
    position: absolute;
    top: 23px;
    width: 100%;
    height: 90%;
    z-index: 1;
}

.fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.linea{
    margin: 0%;
    width: 100%;
    height: 15px;
    border-radius: 7px;
    background: #D94C6A;
}
.art{
    border-radius: 0px 0px 25px 25px;
    -moz-border-radius: 0px 0px 25px 25px;
    -webkit-border-radius: 0px 0px 25px 25px;
    border: 0px;
    margin: 0%;
    width: 100%;
    height: 35px;
    color: white;
    text-align: center;
    background: #D94C6A;
}

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #1E1E1E;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #D94C6A;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }

.nombre{
    animation-delay: 1s;
}

.text{
    margin: 10px;
    animation-delay: 2s;
}

.trazado{
    margin: 10%;
}

.habilidades{
    background-color: #D94C6A;
    height: 105%;
}
.titulohabi{
    margin-top: 11px;
    height: 20px;
}

.skills{
    width: 100%;
    margin: 10px auto;
    color: white;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(107, 107, 107, 0.582);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #874E96;
}
.bar span{
    height: 10px;
    float: left;
    background: aquamarine;
}
.social{
    width: 90%;
}
.after{
    width: 78%;
}
.fortaleza{
    width: 90%;
}
.premiere{
    width: 86%;
}
.comunicar{
    width: 77%;
}
.photoshop{
    width: 74%;
}
.cine{
    width: 70%;
}
.ilustrator{
    width: 87%;
}
.batery{
    width: 85%;
}
.indesing{
    width: 65%;
}
.brain{
    width: 80%;
}
.html{
    width: 77%;
}
.circulo{
    animation-delay: 1s;
}

.barras{
    background-color: #1E1E1E;
    height: 100px;
}
.barras2{
    background-color: white;
    height: 100px;
}


.gustos{
    align-items: center;
    text-align: center;
    height: 900px;
    padding: 1px; 
}
.gustostitulo{
    color: white;
    background: rgb(135,78,150);
    background: linear-gradient(90deg, rgba(136, 78, 150, 0.603) 0%, rgba(217, 76, 107, 0.568) 100%);
    border-radius: 10px;
}

.inspi{
    padding: 2%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    height: 180px;
    animation-delay: 2s;
    
}
.inspi:hover {
    box-shadow: 0 4px 8px 0 rgba(12, 11, 11, 0.2);
  }

.inspi2{
    text-align: center;
    border-radius: 15px;
    height: 50%;
    margin: 50px;
    background-color: white;
    animation-delay: 1,8s;
}
.inspi2:hover {
    box-shadow: 0 4px 8px 0 rgba(12, 11, 11, 0.2);
  }

.imgustos{
    width: 90%; 
    height: 30%;
    margin-top: 2%; 
    margin-bottom: 2%;
}
.Portafolio{
    color: white;
    height: 60%;
    background-color: rgb(37, 37, 37);
    justify-content: space-around;
    animation-delay: 2s;
}

.pixel{
    animation-delay: 1,5s;
}

.luna{
    width: 50%;
    height: 50%;
    animation: infinite;
}
.carrusel{
    background-color: rgb(37, 37, 37);
}
.galery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galery > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
}
.galery img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galery a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: #353b48a8;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

}

.light-box img{
    width: 75vw;
    max-height: 70vh;
}

.light-box:target{
    transform: scale(1);
}
.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: red;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.caja1{
    height: 210px;
    width: 303px;
}

.titulomanu{
    color: white;
    text-decoration: none;
}

.seccion:hover {
    filter: saturate(150%);
    text-decoration: none;

}
.manual{
    height: 390px;
    background: rgb(135,78,150);
    background: linear-gradient(90deg, rgba(135,78,150,1) 0%, rgba(217,76,106,1) 100%);  
}

.contacto{
    height: 70%;
}

.fotocirculo{
    box-shadow: #4ed86769;
    height: 30%;
    margin-top: 10%;
    margin-bottom: 5%;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.bombilla{
    height: 10%;
    width: 10%;
}

.bombilla1{
    height: 10%;
    width: 10%;
    margin-top: 7%;
}

.card{
    height: 50%;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 12%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(12, 11, 11, 0.2);
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(7, 6, 6, 0.904);
  }
.contac{
    margin: 6px;
}

.imgscroll{
    height: 10%;
    width: 10%;
    margin-top: 30%;
}
.imgscroll:hover {
    filter: opacity(.5);
  }

.pie{
    height: 120px;
    width: 100%;
    background-color: #1E1E1E;
}

.redes{
    height: 70%;
    width: 100%;
    border-radius: 150px;
    background-color: black;
}

.iconos{
    margin-top: 20px;
    height: 5%;
    width: 5%;
    animation-delay: 1s;
}

.iconos:hover{
    filter: opacity(.5);
    -webkit-transform:scale(1.3);transform:scale(1.3);
    }